<div class="row">
    <mat-card class="col-md-4">
        <mat-card-header>
            <mat-card-title>Immanuel Bayalkoti</mat-card-title>
            <mat-card-subtitle>Developer</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>Special Thanks from Prabin Khandka</mat-card-content>
    </mat-card>
    <mat-card class="col-md-4">
        <mat-card-header>
            <mat-card-title>Kamal Raj Aryal</mat-card-title>
            <mat-card-subtitle>Developer</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>Again Thanks to Pranin Khadka</mat-card-content>
    </mat-card>
    <mat-card class="col-md-4">
        <mat-card-header>
            <mat-card-title>Ashesh Thapaliya</mat-card-title>
            <mat-card-subtitle>Developer</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>Again Thanks to Pranin Khadka</mat-card-content>
    </mat-card>
</div>